<ion-content [fullscreen]="true">
  <div class="main-card" id="container">
    <ion-card class="duty">
      <ion-card-header class="header">
        <ion-card-title class="title">My Duty (Today)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="card mt-3">
          <div class="card-header" id="headingTwo">
            <div class="title-duty d-flex align-items-center">
              <div class="line  mr-3"></div>
              <p>Duty Type : fixed duty</p>
            </div>
            <div class="d-flex mt-3">
              <div class="mr-auto">
                <p>Start Time</p>
                <p>08:00 am</p>
                <p class="logIn">Actual in 8:30 am</p>
              </div>
              <div class="ml-auto ">
                <p>End Time</p>
                <p>05:00 pm</p>
                <p class="logOff">Actual out 5:30 am</p>
              </div>
            </div>
          </div>
        </div>
        <!---->
      </ion-card-content>
    </ion-card>
    <ion-card class="absence">
      <ion-card-header class="header">
        <ion-card-title class="title">Attendance - Absence</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="card mt-3">
          <div class="card-header" id="headingTwo">
            <div class="text-center">
              <div class="circle">
                <h1>46 %<br>Weekend</h1>

              </div>
              <!-- <div id="chart_div"></div> -->
            </div>
            <div class="d-flex mt-3">
              <div class="mr-auto">
                <ul>
                  <li>Weekend 8</li>
                  <li>Attendance 8</li>
                </ul>
              </div>
              <div class="ml-auto ">
                <ul>
                  <li>Weekend 4</li>
                  <li>Attendance 4</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!---->
      </ion-card-content>
      <ion-card-header class="header">
        <ion-card-title class="title">My Work<br>
        </ion-card-title>
        <p>Hours Weekly</p>
      </ion-card-header>
    </ion-card>

  </div>
</ion-content>