<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
    </ion-buttons>
    <div class="d-flex align-items-center">
      <img src="../../assets/img_avatar.png" alt="none">
      <ion-label class="ml-2">
        Hi Mahmoud Mostafa
        <br>
        <p>fine were</p>
      </ion-label>
    </div>
    <ion-buttons slot="end">
      <ion-icon class="notifications" name="notifications-outline"></ion-icon>
      <ion-menu-button class="text-dark" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>