<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
    </ion-buttons>
    <div class="d-flex">
      <img class="mr-2" src="../../assets/img_avatar.png" style="height: 40px; width: 40px; border-radius: 50%;" alt="">
      <ion-label class="ml-3">
        Hi Mahmoud Mostafa
        <br>
        fine were
      </ion-label>
    </div>
    <ion-buttons slot="end">
      <ion-icon class="notifications" name="notifications-outline"></ion-icon>
      <ion-menu-button class="text-dark" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>