.main-card {
  margin-top: 120px;
  ion-card {
    margin: 0;
    border-radius: 22px;
  }
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: unset !important;
    height: 66px;
    .hours {
      line-height: 0;
      margin-bottom: 18px;
    }
  }
  .card-body {
    background: #a6dede2e;
    padding: 0 10px;
    .logIn {
      background: #60c1c147;
      padding: 10px;
      font-size: 16px;
    }
    .logOff {
      background: #d39e0045;
      padding: 10px;
      font-size: 16px;
    }
  }
  .line {
    width: 2px;
    height: 40px;
  }
  .funnel,
  .filter {
    background-color: #ff00001a;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid red;
    margin: 0 5px;
    font-size: 20px;
    color: red;
  }
  ion-tab-bar {
    box-shadow: 10px 15px 22px 10px;
    padding: 15px 0;
  }
}
